{% extends 'base.html.twig' %}

{% block body %}

    <h1>Welcome sur ma page d'entrainement</h1>

    <p>Work out</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci aspernatur consequuntur culpa
        cupiditate dicta dolore eligendi ex exercitationem facere facilis, fugit id illum inventore, magni necessitatibus
        neque nulla quas quis quod reiciendis reprehenderit sapiente sequi temporibus voluptate voluptatum! Aliquid aperiam
        atque aut consequatur dicta, doloremque doloribus ea est excepturi harum illo iste iure laborum laudantium magnam
        maiores modi mollitia necessitatibus nobis officiis quaerat quam qui quo quod, quos sint suscipit tempore temporibus
        vel velit? Alias aliquam at autem beatae, blanditiis consequuntur ducimus exercitationem hic modi nemo omnis porro
        praesentium, quia quis rem similique sunt tempore vel vero voluptate? Accusamus ad beatae doloribus ea eius eveniet
        fugiat inventore, maiores nemo, nesciunt nobis numquam possimus reiciendis repudiandae sapiente tempora veniam.
    </p>

{% endblock %}